* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cross {
    text-decoration: line-through;
    color: red;
}

.hide {
    display: none;
} 